@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 198 80% 90%;
    --foreground: 44 15% 25%;

    --card: 0 0% 98%;
    --card-foreground: 44 15% 25%;

    --popover: 0 0% 98%;
    --popover-foreground: 44 15% 25%;

    --primary: 44 25% 35%;
    --primary-foreground: 44 20% 96%;
    --primary-glow: 44 25% 50%;

    --secondary: 30 40% 70%;
    --secondary-foreground: 44 15% 25%;

    --muted: 44 10% 90%;
    --muted-foreground: 44 10% 50%;

    --accent: 200 30% 65%;
    --accent-foreground: 44 15% 25%;

    --destructive: 0 60% 50%;
    --destructive-foreground: 44 20% 96%;

    --border: 44 15% 85%;
    --input: 0 0% 98%;
    --ring: 44 25% 100%;

    --ink: 44 24% 26%;
    --ink-opacity: 0.9;
    --ink-light: 44 18% 24%;
    --ink-light-opacity: 0.75;
    --paper: 44 30% 98%;
    
    --gradient-primary: linear-gradient(135deg, hsl(44 25% 35%), hsl(44 30% 65%));
    /* --gradient-overlay: linear-gradient(135deg, hsl(44 30% 98%), hsl(44 30% 80%), hsl(44 15% 95%)); */
    --gradient-overlay: linear-gradient(180deg, hsl(198 80% 90%), hsl(66deg 26% 95%), hsl(29deg 78% 90%));
    
    --shadow-ink: 0 5px 20px hsl(44 0% 75%);
    --shadow-paper: 0 4px 20px hsl(44 0% 60% / 0.15);
    
    --transition-smooth: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    
    --radius: 5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 44 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
